<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {% load static %}	
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  
    <title>{{this_book.title}}</title>
</head>
<body>
    <div class="container">
        <a class="btn btn-secondary" href="/blog">Go Back</a>
        <h1>{{this_book.title}}</h1>
        <table class="table table-striped">
            <thead>
                <th>Description</th>
                <th>Uploaded By</th>
                <th>Date Uploaded</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{this_book.desc}}</td>
                    <td>{{this_book.uploaded_by.first_name}}</td>
                    <td>{{this_book.created_at}}</td>
                </tr>
            </tbody>
        </table>
        <h2>People Who Like This Book</h2>
        {%for users in this_book.users_who_like.all%}
        <ul>
            <li>{{users.first_name}}</li>
        </ul>
        {%endfor%}
    </div>
</body>
</html>